
  <div class="container card" style="width: 18rem; margin-top: 10rem;">
 
    <div class="card-body">
        <h5 col class="card-title">{{movie.original_title}}</h5>
            <p col class="card-text">{{movie.overview}}</p>
            
   
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Average: {{movie.vote_average}}</li>
      <li class="list-group-item">Popularity: {{movie.popularity}}</li>
      <li class="list-group-item">Release date: {{movie.release_date}}</li>
    </ul>
    
  </div>